<!DOCTYPE html>
<html lang="en">
  <head>

    {% load static %}

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenidos al campus virtual</title>
     <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
     <link href="{% static 'Campus/css/styles.css' %}" rel="stylesheet" />
  </head>   
  <body>
    <nav class="navbar navbar-light bg-light static stop"
        <div class="container">
            <a class="navbar-brand" href="{% url 'Campus-incio' %}" style="color: blue">Campus Virtual👨‍💻"<a>
            <a class="navbar-brand" href="{% url 'Campus-login' %}">Login</a>
            <a class="navbar-brand" href="{% url 'Campus-registro' %}">Registro</a>
            </a>
        </div>
    </nav>
  </body>
</html>
