{% extends "inicio.html" %} {% block coder %}
<section class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-4">
      <div class="row">
        <div class="col-12">
          <div class="card p-0 p-md-3">
            <div class="card-title mt-3">
              <h4 class="text-center">
                Login
              </h4>
            </div>
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="email" class="form-label">
                    Email
                  </label>
                  {{ login.email }}
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">
                    Contraseña
                  </label>
                  {{ login.contraseña }}
                </div>
                <button type="submit" class="btn btn-primary d-none d-md-block">
                  Enviar
                </button>
                <div class="d-grid gap-2 d-block d-md-none">
                  <button type="submit" class="btn btn-primary">
                    Enviar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
