{% extends "inicio.html" %} {% block coder %}
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-12 col-lg-6">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-12 col-md-6">
            <label class="form-label">Nombre</label>
            {{ register.nombre }}
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">Apellido</label>
            {{ register.apellido }}
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">Edad</label>
            {{ register.edad }}
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">Localidad</label>
            {{ register.localidad }}
          </div>
          <div class="col-12">
            <label class="form-label">Email</label>
            {{ register.email }}
          </div>
          <div class="col-12">
            <label class="form-label">Contraseña</label>
            {{ register.contraseña }}
          </div>
        </div>
        <div class="row my-4">
          <div class="col-12">
            <input class="btn btn-primary" type="submit" value="Enviar" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
